@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: relative;
  overflow-x: hidden;
  height: 100dvh;
  &__img {
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    object-fit: cover;
    object-position: center bottom;
    position: absolute;
    z-index: -1;
  }
  &__box {
    margin-left: auto;
    margin-right: auto;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }

  &__btn {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }
}
.toggle__btn {
  position: absolute;
  z-index: 30;
  top: 0;
  // transform: translateX(0%);
}
.btn {
  transition: all 0.6s;
}
.btn--close {
  transform: translateX(-895%);
  transition: all 0.6s;
}
.logo {
  margin: 0 auto;
  width: 200px;
}
.menu {
  padding-right: 15px;

  &__list {
    display: flex;
  }

  &__list-item {
    padding-right: 45px;
    padding-left: 35px;
  }

  &__list-link {
    @extend %title-font;
    text-transform: uppercase;
    color: #fff;
  }

  &__list-link--activ {
    padding-bottom: 4px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      border-radius: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(158, 45, 31, 0.7);
    }
  }
  &__mobile {
    display: none;
    position: relative;
  }
  &__mobile-logo {
    width: 200px;
    padding: 15px 45px 15px 35px;
  }
}
.menu__rightside {
  z-index: 20;
  position: absolute;
  top: -45px;
  right: -32px;
  width: 300px;
  height: 100dvh;
  background: linear-gradient(#458289, #000000d0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.75);
  // background: #458289;
  // box-shadow: -5px -5px 18px 0px $bg-color-black;
  transition: all 0.6s;

  &.menu__rightside--close {
    transform: translateX(300%);
  }
}
.offer {
  // height: 100vh;
  color: #fff;
  font-weight: 400;
  &__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    line-height: 1.5;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.25);
    // background: rgba($bg-color-black, 0.5);
    // box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
  }
  &__phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    text-align: center;
  }
  &__text {
    font-size: 30px;
    text-align: center;
    // padding: 20px;
  }
  &__link {
    color: #fff;
  }
  &__form {
    // display: flex;

    width: 100%;
  }
}
.form {
  display: flex !important;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  &__title {
    // color: #000;
    margin-bottom: 30px;
  }
  &__input-phone,
  &__input-name {
    display: flex;
    max-width: 300px;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background: #fff;

    &::placeholder {
      font-size: 14px;
    }
  }
  &__input--error {
    border: 1px solid #ff0000;
    animation: shake 0.9s both;
  }
  &__inner {
    position: relative;
  }
  &__label-phone,
  &__label-name {
    font-size: 14px;
    color: #ff0000;
    line-height: 0.5;
    position: absolute;
    bottom: -15px;
    animation: shake 0.9s both;
  }
  &__label--close {
    display: none;
  }
  &__btn {
    // display: block;
    padding-left: 57px;
    padding-right: 57px;
    max-width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #ffef35;
    cursor: pointer;
  }
}
.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #00000042;

  &--close {
    display: none;
  }
  &__box {
    margin: auto;
    margin-top: 50px;
    background: #fff;
    width: 80%;
    height: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 30px;
    background-image: url("../images/bg-popup.png");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    line-height: 1;
    text-align: center;
  }
}
.program {
  margin-top: 40px;
  overflow-x: hidden;
  padding-bottom: 20px;
  &__title {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    // overflow-x: hidden;
    width: 100%;
  }
  // &__border-box {
  //   position: relative;
  //   width: 48%;
  //   height: 850px;
  //   background: linear-gradient(
  //     45deg,
  //     #cc0000 25%,
  //     #cc0000 25%,
  //     #d6d6d6 25%,
  //     #d6d6d6 50%,
  //     #cc0000 50%,
  //     #cc0000 75%,
  //     #d6d6d6 75%,
  //     #d6d6d6 100%
  //   );
  //   animation: animate_6810 30s linear infinite;
  //   transition: 0.3s;
  //   background-size: 60px 60px;

  //   overflow: visible;
  //   border-radius: 25px;
  //   box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  // }
  // &__box {
  //   position: absolute;
  //   width: 96%;
  //   height: 96%;
  //   left: 2%;
  //   top: 2%;
  //   background-color: rgba(255, 255, 255, 1);
  //   border-radius: 20px;
  //   transition: 0.3s;
  //   display: flex;
  //   // align-items: center;
  //   justify-content: space-between;
  //   flex-direction: column;

  //   // background: linear-gradient(#fff2, transparent);
  //   // border: 1px solid rgba(255, 255, 255, 0.1);
  //   // box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  //   padding: 20px;

  //   // backdrop-filter: blur(15px);
  // }
  &__subtitle {
    font-size: 30px;
    width: 70%;
  }
  // &__title-inner {
  //   font-style: 20px;
  // }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px !important;
  }
  &__list-item {
    list-style: circle;
  }
  // &__price {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 5px;
  // }
  // &__footer {
  //   display: flex;
  //   justify-content: center;
  //   // width: 70%;
  //   // justify-content: space-between;
  // }
}

.button {
  position: relative;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button--active {
  background-color: rgb(255, 95, 95);
  box-shadow: 0px 10px 10px rgb(253, 187, 187) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(255, 54, 54) inset;
}
.button--secondary {
  color: #000000;
  box-shadow: 0px 10px 10px rgb(253, 249, 187) inset,
    0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px rgb(255, 225, 54) inset;
}
.button--inform {
  color: #000000;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #5ac15a;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #5ac15f;
  &:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #5ac15f;
  }
}
.top {
  position: relative;
  margin-top: 40px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__title {
    flex: 1 1 auto;
    width: 150px;
    min-width: 0;
  }
}
.swiper {
  width: 100%;
  height: 100%;

  &__slide {
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
  }

  &-img {
    object-fit: cover;
    position: relative;
  }

  &-pagination-bullet {
    opacity: 1;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 9px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100%;
  }
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
  }
  --swiper-pagination-fraction-color: #a81313;
  --swiper-pagination-bullet-horizontal-gap: 29.5px;
  --swiper-pagination-bottom: 0;
  --swiper-pagination-top: 9px;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 20px;
  color: #a14a4a;
}

/* From Uiverse.io by catraco */
.card {
  --card-color: #ff0000;
  --blub-color: #ffc6c6;
  position: relative;
  user-select: none;
  margin: 0 auto;
  width: 48%;
  span {
    width: 100px;
    height: 100px;
    position: absolute;
    // background: linear-gradient(0deg, transparent, var(--blub-color));
    // border-radius: 100%;
    background-image: url("../images/знак\ Н-вектор.svg");
    opacity: 0.6;
    animation: keyframes-rotate 4s infinite linear;
  }
  span:nth-child(1) {
    top: -5%;
    left: -5%;
    width: 60px;
    height: 60px;
    animation-delay: 0.1s;
    opacity: 0.3;
  }
  span:nth-child(2) {
    top: 40%;
    left: -20%;
    width: 80px;
    height: 80px;
    animation-delay: 0.8s;
    opacity: 0.3;
  }
  span:nth-child(3) {
    top: 80%;
    left: 0;
    width: 50px;
    height: 50px;
    animation-delay: 0.2s;
    opacity: 0.5;
  }

  span:nth-child(4) {
    top: 50%;
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: 0.6s;
    opacity: 0.4;
  }
  &__inner {
    backdrop-filter: blur(15px);
    outline: 1px solid var(--card-color);
    color: var(--card-color);
    width: 100%;
    height: 100%;
    border-radius: 5%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }
  strong {
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__button {
    background-color: transparent;
    color: var(--card-color);
    border: none;
    outline: 1px solid var(--card-color);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 0.2em;
    &:hover {
      background-color: var(--card-color);
      color: var(--blub-color);
      cursor: pointer;
      .card__arrow {
        width: 20px;
        margin-left: 1em;
        transform: scale(1);
      }
    }
  }
  &__arrow {
    width: 0px;
    height: 20px;
    fill: var(--blub-color);
    transform: scale(0);
    transition: 0.3s;
  }
}

@keyframes keyframes-rotate {
  0% {
    transform: translate(300px) rotate(360deg);
  }

  50% {
    transform: translate(-30px, 100px) rotate(180deg);
  }

  100% {
    transform: translate(300px) rotate(0deg);
  }
}

@keyframes shake {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: translate(-7px, -1px);
  }

  30% {
    transform: translate(5px, 1px);
  }

  45% {
    transform: translate(-5px, -1px);
  }

  60% {
    transform: translate(2px, 1px);
  }

  75% {
    transform: translate(-2px, -1px);
  }
}
@keyframes animate_6810 {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 1000px;
  }
}

@media (max-width: 950px) {
  .program {
    &__inner {
      flex-direction: column;
      margin-right: auto;
      margin-left: auto;
      gap: 40px;
    }
    &__border-box {
      width: 100%;
      height: 100dvh;
    }
  }
}
@media (max-width: 900px) {
  // .logo {
  //   display: none;
  // }
  .header__inner {
    justify-content: end;
  }
  .menu {
    display: none;
    &__mobile {
      display: block;

      #checkbox2 {
        display: none;
      }

      .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        transition-duration: 0.5s;
      }

      .lines {
        width: 100%;
        height: 6px;
        background-color: rgb(255, 255, 255);
        border-radius: 6px;
      }

      #line5 {
        transition-duration: 0.8s;
      }

      #checkbox2:checked + .toggle .lines {
        position: absolute;
        transition-duration: 0.5s;
      }

      #checkbox2:checked + .toggle #line5 {
        transform: scaleX(0);
        transition-duration: 0.5s;
      }

      #checkbox2:checked + .toggle #line4 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: 0.5s;
        // background-color: rgb(255, 255, 255);
      }

      #checkbox2:checked + .toggle #line6 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: 0.5s;
      }

      #checkbox2:checked + .toggle {
        transition-duration: 0.5s;
        transform: rotate(180deg);
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &__list-item {
      padding-top: 15px;
      padding-bottom: 15px;
      // margin-top: 20px;
    }
  }
}
@media (max-width: 600px) {
  .offer {
    // &__slogan {}
    &__title {
      font-size: 30px;
    }
    &__text {
      font-size: 20px;
    }

    //  &__link {}
    //  &__form {}
  }
  .form {
    display: flex;
    align-items: center;
    justify-content: center;
    // &__title {}
    // &__input {
    // }
    //  &__btn {}
  }
  .program {
    &__inner {
    }
    &__border-box {
      height: 120dvh;
    }
  }
}
@media (max-width: 500px) {
  .program {
    &__inner {
    }
    &__border-box {
      height: 150dvh;
    }
  }
}
@media (max-width: 400px) {
  .program {
    &__inner {
    }
    &__border-box {
      height: 180dvh;
    }
  }
}
